{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5" >
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us</h1>
        </div>
    </div>
    <div class=""row justify-content-center mt-1>
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>In relation to buildings, architecture has to do with the planning, designing and constructing 
                form, space and ambience that reflect functional, technical, social, environmental, and aesthetic 
                considerations. It requires the creative manipulation and coordination of material, technology, 
                light and shadow. Architecture also encompasses the pragmatic aspects of realizing buildings 
                and structures, including scheduling, cost estimating and construction administration. As 
                documentation produced by architects, typically drawings, plans and technical specifications, 
                architecture defines the structure and/or behavior of a building or any other kind of system that is 
                to be or has been constructed.</p>
                <p>
                is concerned with the hardware design of the computer. Once the computer 
                specifications are formulated, it is the task of the designer to develop hardware for the system. 
                Computer design is concerned with the determination of what hardware should be used and how 
                the parts should be connected. This aspect of computer hardware is sometimes referred to as
                </p>
                <p>
                These devices used electronic switches, in the form of vacuum tubes, instead of 
                electromechanical relays; the earliest attempt to build an electronic computer was by J. V. 
                Atanasoff, a professor of physics and mathematics at Iowa State in 1937. Atanasoff set out to 
                build a machine that would help his graduate students solve systems of partial differential 
                equations. By 1941 he and graduate student Clifford Berry had succeeded in building a machine 
                that could solve 29 simultaneous equations with 29 unknowns. However, the machine was not 
                programmable, and was more of an electronic calculator. 
                </p>

        </div>

    </div>
     
</div>
{% endblock content %}